*{
    margin: 0;
    padding: 0;
    font-family: 'futuraptbook';
    color: #282828;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#popup1{
    display: none;
}

.call320{
    display: none;
}

a{
    text-decoration: none;
    display: block;
    height: 100%;
}

nav>ul>li>a:hover{
     cursor: pointer;    
    color: #888;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

#popup{
    overflow: hidden;
    position: fixed;
    top: 75px;
    background: rgba(0, 0, 0, .34);
    width: 100%;
    height: 0%;
}

#popup__sub{
    width: 380px;
    height: 375px;
    margin: 100px auto;
    background: #fff;
    position: relative;
}

#btn1:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    cursor: pointer;
}

#close{
    position: absolute;
     right: 30px;
    top: 30px;
}



#close:hover{
    text-shadow: 0 0 12px rgba(0,0,0,0.5);
    -webkit-transition: text-shadow .4s ease;
    -o-transition: text-shadow .4s ease;
    transition: text-shadow .4s ease;
    cursor: pointer;
}

#popup__sub>h3{
    left: 34%;
    text-align: center;
}

#popup__sub>h3{
    padding-top: 55px;
    margin-bottom: 40px;
    font-family: 'futuraptbold';
    font-size: 24px;
}

#popup__sub>form{
    height: 200px;
    margin-top: 20px;
}

.textfield{
    height: 35px;
    width: 220px;
    margin-bottom: 16px;
    margin-top: 5px;
    padding: 0 20px;
    font-family: 'futuraptbook';
    font-size: 18px;
}

#popup__sub>form{
    margin-left: 60px;
}

label{
    margin-bottom: 15px;
    margin-top: 30px;
     font-size: 14px;
    color: #99938c;
    text-align: left;
}

#btn1{
    margin: 20px 31px;
    text-align: center;
    height: 40px;
    width: 200px;
    background: #000;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-family: 'futuraptbold';
    font-size: 14px;
}

body{
    min-width: 220px;
    display: grid;
    grid-template: 1fr/1fr minmax(220px, 1280px) 1fr;
    overflow-x: hidden;
    background: #fff;
 
}

.whrapper{
    width: 100%;
    position: relative;
}

.header{
    height: 90px;
    background: #ffffff;
    max-width: 1280px;
    display: grid;
    grid-template: 1fr/ 300px  minmax(150px, 330px) minmax(150px, 330px) minmax(150px, 300px);
}

.hamburger{
    display: none;
}

.logo{
    width: 300px;
    background: url('../images/logo.png') no-repeat;
     border-right: 1px solid #f1ede8;
}

.logo:hover{
    cursor: pointer;
}

.up-contact{
    font-size: 12px;
    color: #99938c;
    text-transform: uppercase;
}

.contacts{
    letter-spacing: 1px;
    align-self: center;
    text-align: left;
}

.sub__header1{
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;  
}

.sub__header2{
    text-align: left;
     padding-top: 20px;
    margin-left: 65px;
}

.sub__header3{
    justify-self: right;
    text-align: center;
    margin: 25px 17px 20px 40px;
    border: 1px solid #000;
    padding: 4px 40px;
    border-radius: 7px;
    color: #fff;
    background: #282828;
    height: 30px;
    width: 120px;
}

.sub__header3:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    cursor: pointer;
    color: #888;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

nav{
    padding-top: 20px; 
    padding-bottom: 0;
    background: #282828; 
}

nav>ul{
    padding: 0 100px;
    height: 40px;
    text-align: justify;
    overflow: hidden;
}

nav>ul:after{
    content: "1";
    margin-left: 100%;
    display: inline-block;
}

nav>ul>li, nav>ul>li>a{
    color: #fff;
    display: inline-block;
    margin: 0;
    font-family: "futuraptbook";
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

nav>ul>li:hover{
    cursor: pointer;    
    color: #888;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

main{
    display: grid;
    grid-template: auto/minmax(180px, 300px) minmax(600px, 980px);
}

sidebar{
    margin: 0;
    padding: 0;
    max-width: 300px;
    background: #f8f6f4;
    border: none;
}

.menu>ul>li{
    display: block;
    background: #f1ece7;
    border-top: 1px solid #e3dfda;
    padding: 14px 20px 14px 27px;
    position: relative;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}

.menu>ul>li:first-child{
    border-top: 0px solid #e3dfda;
}

.menu>ul>li:hover{
    cursor: pointer;
    background: #777;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}

.menu>ul:last-child{
    border-bottom: 1px solid #e3dfda;
}

.content768{
    min-height: 945px;
    background: #ffffff;
    width: 100%;
}

.slider{
    background: url(../images/slider.jpeg);
    height: 444px;
    width: auto;
}

.gradient{
    height: 224px;
    max-width: 450px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .8), rgba(255, 255, 255, 0)); 
    background: -moz-linear-gradient(left, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    padding: 110px  90px 110px 90px;
}

.promo{
    text-align: left;
    font-family: "futuraptbold";
    width: 300px;
    color: #fff;
    margin-left: 11px;
    font-size: 36px;
    line-height: 40px;
}

.percent{
    color: #95cf2e;
    font-family: "futuraptbold";
}

.gradient>p{
    color: #fff;
    text-align: left;
    width: 320px;
    margin-left: 11px;
    margin-top: 5px;
    line-height: 16px;
}

sup{
    font-size: 9px;
}

.order{
    border: 2px solid #000;
    color: #9cd12c; 
    margin-left: 11px;
    margin-top: 18px;
    border-radius: 4px;
    width: 138px;
    text-align: center;
    padding: 4px 0;
}

.order:hover{
    background: rgba(100, 100, 100, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transition: background .4s ease;
    -o-transition: background .4s ease;
    transition: background .4s ease;
    cursor: pointer;
}

.advantage>ul{
    text-align: center;
    display: grid;
    grid-template:  1fr/ repeat(4, 80px);
    justify-content: space-around;
    border-bottom: 1px solid #e3dfda;
    padding: 30px 0;
    width: 100%;
}

.advantage>ul>li{
    display: inline;
}

.about-company{
    margin-left: 40px;
}

.about-company>h3{
    font-size: 26px;
    font-family: 'futuraptbook';
}

.factory{
    margin: 23px 40px 23px 0;
    float: left;
}

.conteiner-for-text{
    overflow: hidden;
    height: 195px;
    max-width: 485px;
}

.about-company__text{
    color: #282828;
    margin-top: 23px;
    margin-right: 40px;
    font-size: 15px;
    padding: 0;
    line-height: 19px;
}

.read-more{
    margin-top: 9px;
    font-family: 'futuraptbook';
    font-weight: 600;
    color: #95cf2e;
    margin-left: 452px;
    width: 150px;
  
}

.read-more:hover{
    cursor: pointer;
}


footer{
    height: 80px;
    background: #f8f6f4;
    border-top: 1px solid #e3dfda;
    display: flex;
}

.fa-caret-right{
    position: absolute;
    right: 20px;
    text-align: right;
}

.copyright{
    margin-top: 28px;
    margin-left: 35px;
}

.tel{
    flex-grow: 1; 
    text-align: right;
    margin-top: 28px;
    margin-right: 35px;
}

.right{
    background: url(../images/right.jpeg);
    height: inherit;
}

.left{
    background: url(../images/left.jpeg);
    height: inherit;
}


/*********PRODUCT************/


.content__whrapper{
    display: grid;
    grid-template: 1fr/minmax(auto, 455px) minmax(auto, 455px);
}

#item{
    margin: 40px;
}

.product{
    max-width: 415px;
    min-width: 200px;
    height: 100%;
}

.product__item{ 
    margin-left: 40px;  
    max-width: 415px;
    min-width: 200px;
    height: 270px;
    background: url(../images/product.jpeg) no-repeat;
    background-size: contain;
    
}

.product>.order{
    width: inherit; 
}

.description{
    margin: 0 30px;
}

.description__text{
    margin-bottom: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 125px;
}

.description>h4{
    margin-bottom: 15px;
}

.specifications{
    display: grid;
    grid-template: 25px/2fr 1fr;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px 19px;
    
}

.odd{
     background: #f7f4f1;
}

.price{
      
  
   text-align: right;
    margin-right: 19px;
}


/***********KATALOG*********/


.content-katalog{
    width: 100%;
}

.content-katalog>h3{
    margin: 40px;
}

.catalog__whrapper__item{
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 20px;
    margin-left: 40px;
}

.item-whrapper>h5{
    color: #95cf2e;
    font-size: 18px;
    margin-top: 15px;
}

.item-whrapper>h5>a{
    color: #95cf2e;
    display: inline;
}

.item-whrapper>p{
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.item1{
    background: url(../images/pilo.jpeg);
    height: 180px;
}

.item2{
    background: url(../images/lameli.jpeg);
    height: 180px;
}

.item3{
    background: url(../images/fanera.jpeg);
    height: 180px;
}

.item4{
    background: url(../images/dsp.jpeg);
    height: 180px;
}

.item5{
    background: url(../images/strujka.jpeg);
    height: 180px;
}

.item:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}

/****CONTACTS*******/


iframe{
    margin-left: 40px;
    width: 90%;
}

.adress{
    display: flex;
}

.adress>.sub__header1{
    padding-left:  0;
    margin-left: 40px;
}


/******1040*******/


@media (max-width: 1050px) {
    .sub__header1, .sub__header2{
        margin-left: 3px;
        padding-left: 0;
    }
    
    .sub__header3{
        margin-left: 0;
        padding-left: 5px;
        padding-right: 5px;
     
        right: 0;
    }
    
    header{
        background: red;
    }
}

/******768*******/

@media (max-width: 768px) {
   nav, .sub__header1, sidebar, .left, .right{ 
       display: none;
    }
    
    body{
        display: grid;
        grid-template: 1fr/minmax(120px, 1280px);
        overflow-x: hidden; 
}
    
    main{
        display: block;
        width: 100%;
    }
    
    .sub__header2{
        margin-left: 5px;
    }
    
    .content768{
        height: 100px;
    }
    
    footer{
        display: grid;
        grid-template: 1fr/1fr 1fr;
        justify-content: space-between;
        width: 100%;
        left: 0;
    }
    
    .header{
        grid-template: 1fr/75px minmax(250px, 300px) minmax(100px, 300px) minmax(140px, 200px);
    }
    .logo{
         border-left: 1px solid #f1ede8;
        width: 100%;
    }
    .hamburger{
        align-self: center;
        text-align: center;
        display: block;
    }
    
    .hamburger:hover{
        cursor: pointer;
        text-shadow: 0 0 12px rgba(0,0,0,0.5);
        -webkit-transition: text-shadow .4s ease;
        -o-transition: text-shadow .4s ease;
        transition: text-shadow .4s ease;
    }
    
    .catalog__whrapper__item{
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        grid-gap: 20px;
        margin-left: 40px;
}
    
    .adress>.sub__header1{
        margin-left: 5px;
}
    
    .sub__header11, .sub__header22{
        display: block;
        margin-left: 5px;
        padding: 0;
    }
    
    
    .item1{
        background: url(../images/pilo768.jpeg);
        height: 150px;
}

    .item2{
        background: url(../images/lameli768.jpeg);
        height: 150px;
}

    .item3{
        background: url(../images/fanera768.jpeg);
        height: 150px;
}

    .item4{
        background: url(../images/dsp768.jpeg);
        height: 150px;
}

    .item5{
        background: url(../images/strujka768.jpeg);
        height: 150px;
}
    
    .product{
        margin: 0 auto;
    }
    .product__item{
        margin: 0 auto;
}
    
    .about-company{
        margin-left: 20px;
}
    
    .catalog__whrapper__item{
        margin-left: 20px;
    }
    
    iframe{
        margin: 10px;
        width: 100%;
}

    #item{
        margin: 40px 40px 40px 20px;
         width: 200px;   
    }
    
    .adress{
        display: block;
}
    
#popup1{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .34);
    width: 100%;
    height: 0%;
}
.pop-up-menu--close{
    background: #282828;
    width: 75px;
    height: 90px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
}

.pop-up-menu--close>.fas{
    position: absolute;
    top: 50%;
    margin: 0 auto;
    color: #ffffff;
     right: 30px;
    top: 30px;
    }
    
.pop-up-menu--close>.fas:hover{
    cursor: pointer;
    }
 
.pop-up-menu{
    background: #282828;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90px;
 
}

.category>li{
    margin-top: 15px;
    display: block;
    border-bottom: 1px solid #333333;
    height: 35px;
    padding-left: 30px;
    color: #ffffff;
}
    
    .category>li>a{
        color: #fff;
    }


.sub__header1--320{
    height: 10px;
    padding: 30px 0 30px 50px;
    font-size: 15px;
}

.sub__header2--320{
    height: 10px;
    color: #ffffff;
    padding: 30px 0 30px 50px;
    font-size: 15px;
  
}

.sub__header3--320{
    text-align: center;
    padding-top: 13px;
    margin: 32px auto;
    font-size: 14px;
    height: 40px;
    width: 260px;
    background: #000000;
     border-radius: 7px;
    color: #ffffff;
    font-size: 18px;
      
}

.sub__header3--320:hover{
   
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
    cursor: pointer;
    color: #888;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}


.sub__header1--320>.contacts, .sub__header2--320>.contacts{
    color: #ffffff;
}
.about-company{
        margin-left: 0px;
}
    .about-company>h3{
         margin-left: 20px;
    }   
      .content__whrapper{
    display: grid;
    grid-template: 1fr/minmax(auto, 455px) minmax(240px, 455px);
}
}


/******610*******/


@media screen and (max-width: 610px){
    
.conteiner-for-text{
    margin: 0 auto;
}
    
.factory{
    float: none;
   width: 100%;
    display:block;
  margin: 10px auto;
    object-fit: cover;
}
.read-more{
    margin-top: 9px;
    font-family: 'futuraptbook';
    font-weight: 600;
    color: #95cf2e;
    margin-left: 70%;
    width: 120px;
    
}
    .specifications{
        font-size: 15px;
    }
  

}


/******550*******/


@media screen and (max-width: 550px){

.advantage>ul{
  
    grid-template:  2fr/ repeat(2, 80px);
    grid-row-gap: 25px;
  
}
    
    .specifications{
        position: static;
    }
    
    .price{
        position: absolute;
        right: 25px;
    }
    .about-company__text{
        margin: 0 auto;
        padding: 0 20px;
    }

}

/****570****/
@media(max-width: 570px){
    .header>.sub__header2{
        display: none;
    }
    .header{
        grid-template: 90px/75px minmax(250px, 300px) 150px;
    }
}
/****505****/
@media(max-width: 505px){
.content__whrapper-card{
    display: block;
}
    
}

/****474****/
@media screen and (max-width: 474px) {
   .about-company__text{
        margin: 0 auto;
     
    }
        .gradient>p{
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 16px;
    }
    
    .percent{
         font-family: 'futuraptbook';
    }
     .promo{
         width: 100%;
        font-size: 28px;
        font-family: 'futuraptbook';
        text-align: center;
        margin: 0;
         margin-bottom: 10px;
         line-height: 28px;
    }
    .sub__header3{
        display: none;
    }
      .call320{
        display: block;
        background: url(../images/call320.png) no-repeat;
    }
    
    .logo{
        background: url(../images/logo320.png) no-repeat;
        background-position: center;
        max-width: 298px;
        
    }
  
   
.header{
        grid-template: 60px/60px 
            minmax(178px, 298px) 60px;
       margin-bottom: -30px;
    }
        
.textfield{
    user-select: none;
    height: 35px;
    width: 150px;
    margin-bottom: 16px;
    margin-top: 5px;
    padding: 0 20px;
    font-family: 'futuraptbook';
    font-size: 18px;
}
    #btn1{
       margin: 0px;
    }
    #popup__sub{
        width: 320px;
    }
    .read-more{
    margin: 0 20px 20px 20px;
    }
}

/******320*******/

@media(max-width: 320px){
   

.product__item{ 
 
    height: 140px;
    }
   

       .slider{
        background: url(../images/slider_320.jpg);
        height: 360px;
        width: 100%;
      
    }
    
    .gradient{
        height: 195px;
        max-width: 320px;
        padding: 55px  20px 110px 20px;
    }
    
    .pop-up-menu--close{
    width: 60px;
    height: 60px;
}

.pop-up-menu--close>.fas{
     right: 20px;
    top: 20px;
    }
    
    .pop-up-menu{
    top: 60px;
 
}
    .about-company{
       
         width: 100%;
    }
    
    .factory{
        display: none;
    }
    
    .about-company>h3{
        font-size: 18px;
        text-align: center;
    }
   
    
    footer{
        font-size: 13px;
        height: 75px;
    }
    
    .copyright{
       margin-left: 20px; 
    }
    
    .tel{
        margin-right: 20px;
    }
    
    .content-katalog>h3{
    margin-left: 20px;
}
    
    .item{
        background-repeat: no-repeat;
      
    }
    
    .content-katalog{
          width: 320px;
    
    }
    .Ñatalog__whrapper{
        margin: 0 auto;
        width: 280px;
    }
    
    .item-whrapper{
        width: 280px;
    }

    
    .item-whrapper>p{
        margin: 0px;
        margin-top: 10px;
}
    .catalog__whrapper__item{
        margin: 0;
    }
   .item1{
    background: url(../images/pilo.jpeg);
    height: 180px;
}

.item2{
    background: url(../images/lameli.jpeg);
    height: 180px;
}

.item3{
    background: url(../images/fanera.jpeg);
    height: 180px;
}

.item4{
    background: url(../images/dsp.jpeg);
    height: 180px;
}

.item5{
    background: url(../images/strujka.jpeg);
    height: 180px;
}

.order{
    margin: 20px;
}
}